<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
</head>
<body>

    <form action="/Login" method="post">

        <h2>Login</h2>
        <label for="email">Email</label>
        <input type="email" placeholder="email" name="Email" required autocomplete="off">
        <label for="password">Password</label>
        <input type="password" placeholder="password" name="Password" required>
        <button type="submit">submit</button>
        
    </form>
    <p>Dont have a Account So register yourself <a href="/Signup">Signup</a> </p>
</body>
</html>