<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignupPage</title>
</head>
<body>
    

    <form action="/Signup" method="post">

        <h2>SignupPage</h2>
        <label for="FirstName">FirstName</label>
        <input type="text" name="firstname" placeholder="FirstName" required autocomplete="off">
        <label for="LastName">LastName</label>
        <input type="text" name="lastname" placeholder="LastName" required autocomplete="off">
        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="email" required autocomplete="off">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">submit</button>
    </form>
    <p>If you Have a account Then <a href="/">Login</a></p>
</body>
</html>